<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="AIVISEntities" connectionString="metadata=res://*/Model.AIVISEntities.csdl|res://*/Model.AIVISEntities.ssdl|res://*/Model.AIVISEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ANUSHKA;initial catalog=AIVIS;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
	<appSettings>
		<add key="ServiceUser" value="2" />
		<add key="SequenceNotSubmittedTrailType" value="NotSubmitted" />
		<add key="SequenceNotReviewedTrailType" value="NotReviewed" />
		<add key="SiteCode" value="20251010" />
	</appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>